extends layout

block content
  .row
    .col-md-4
      h2 Micro API Methods
      ul.list-group.apilist
        li.list-group-item
            a(href='#') api/getcontacts
        li.list-group-item
            a(href='#') api/addcontact
